<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<title>CBA Vigo</title>
	<link href='//fonts.googleapis.com/css?family=Lobster|Quicksand:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<!--
	<script id="header-nav" type="template/mustache">
		<header class="header border-bottom">
			<a class="icon-arrow-left boton-nav"></a>
			<figure>
				<img src="../img/logo.png" width="48px" height="48px" class="logo" alt="CBA Vigo logo" title="CBA Vigo logo">
			</figure>
		</header>
		<nav class="nav">
			<ul class="nav-list">
				<li class="nav-list-element"><a id="home-link" class="nav-list-element-link">Home</a></li>
				<li class="nav-list-element"><a id="noticias-link" class="nav-list-element-link">Noticias</a></li>
				<li class="nav-list-element"><a id="fotos-link" class="nav-list-element-link">Fotos</a></li>
				<li class="nav-list-element"><a id="contacta-link" class="nav-list-element-link">Contacta</a></li>
				<li class="nav-list-element"><a id="about-link" class="nav-list-element-link">About</a></li>
				<li class="nav-list-element centered padding no-border media">
					<div class="add-on addleft">
						<span class="icon-twitter"></span>
						<a href="https://twitter.com/cbavigo" class="btn twitter">@cbavigo</a>
					</div>
					<div class="add-on addleft">
						<span class="icon-facebook"></span>
						<a href="https://www.facebook.com/profile.php?id=100009902918564" class="btn facebook">CBA Vigo</a>
					</div>
				</li>
			</ul>
		</nav>
	</script>

	<script id="home" type="template/mustache">
		<section class="home">
			<article class="landing">
				<h2>Bienvenido</h2>
				<figure>
					<img src="../img/logo.png" width="96" height="96" alt="CBA Vigo logo" title="CBA Vigo logo">
				</figure>
				<h1>CBA Vigo</h1>
			</article>
			<article class="last-results wrap" id="last-results">
				<h2>Últimos resultados</h2>
				<div class="cont">
					<div class="cbavigo-a">
						<h3>CBA Vigo</h3>
						<ul class="results" id="res-a">

						</ul>
					</div>
				</div>
			</article>
			<footer class="footer">
				<h4>Copyright © <strong>CBA Vigo</strong>. 2015 • All rights reserved.</h4>
			</footer>
		</section>
	</script>
	<script id="noticias" type="template/mustache">
		<section class="noticias">
			<h2 class="title">Noticias</h2>
			<div class="news-container">
				<h3 class="loading">Cargando...</h3>
			</div>
			<div class="adorno-cierre"><div>
		</section>
	</script>
	<script id="new" type="template/mustache">
		<div class="cuerpo">
			<figure class="img">
				<img class="img" src={{src}} width="320" height="214" alt={{alt}} title={{title}} />
				<div class="cont">
					<h2 class="titulo">{{&titulo}}</h2>
				</div>
			</figure>
		</div>
		<div class="adornos">
			<div class="adorno1 adorno"></div>
			<div class="adorno2 adorno"></div>
			<div class="adorno3 adorno"></div>
		</div>
	</script>
	<script id="novaConcreta" type="template/mustache">
		<section class="novaConcreta">
			<figure>
				<img class="img" width="320px" height="214px" src={{src}} alt={{alt}} title={{title}} />
			</figure>
			<div class="corpo">
				<h2>{{&titulo}}</h2>
				<div>{{&cuerpo}}</div>
			</div>
		</section>
	</script>


	<script id="fotos" type="template/mustache">
		<section class="fotos">
		<h2>Hola</h2>
		</section>
	</script>

	<script id="contacta" type="template/mustache">
		<section class="contacta">
			<div class="content">
				<h2>Buscamos</h2>
				<h3>Patrocinadores</h3>
				<a class="button">Contacta</a>
				<span class="icon-ball"></span>
				<div class="adorno"></div>
			</div>
			<div class="redes">
				<p> Escribenos a cbavigo@gmail.com</p>
				<div class="add-on addleft">
					<span class="icon-twitter"></span>
					<a href="https://twitter.com/cbavigo" class="btn twitter">@cbavigo</a>
				</div>
				<div class="add-on addleft">
					<span class="icon-facebook"></span>
					<a href="https://www.facebook.com/profile.php?id=100009902918564" class="btn facebook">CBA Vigo</a>
				</div>
			</div>
		</section>
	</script>

	<script id="about" type="template/mustache">
		<section class="about">
			{{#foto}}
				<figure class="img">
					<img class="about-image img" src="img/equipo-min.jpg" width="320px" height="240px"></img>
				</figure>
			{{/foto}}
			<div class="texto">
				<div class="titulo">
					<p class="icon-ball adorno1"></p>
					<h2>CBA Vigo</h2>
					<p class="icon-ball adorno2"></p>
				</div>
				<p class="about-text">Somos el CBA Vigo, un club modesto en cuanto a presupuesto pero enorme en cuanto a personas. Nacimos en 2015 con la ilusión de crear un equipo en el que todos son importantes y para librarnos de la molesta burocracia de las instituciones deportivas tradicionales. Si eres jugador y te gusta como suena, mándanos un mail a cbavigo@gmail.com o contáctanos en las redes sociales y veremos si podemos hacerte un hueco, todo el mundo es bienvenido. Si por otro lado no te interesa jugar pero te gustaría apoyar esta iniciativa, nos encantaría escuchar tus propuestas, ya sean acerca de patrocinios, donaciones o cualquier cosa que nos pueda ayudar. Gracias y NOS VEMOS EN LA PISTA :)</p>
				<p class="icon-ball adorno3"></p>
			</div>
			{{#foto}}
				<div class="aux"></div>
			{{/foto}}
		</section>
	</script>
	-->
	<div id="app"></div>
	<!--<script src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js"></script>-->
	<script src="js/main.js"></script>
</body>
</html>
