doctype html
html(lang="es")
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Admin console Xestas
		link(href='//fonts.googleapis.com/css?family=Quicksand:700', rel='stylesheet', type='text/css')
		link(rel="stylesheet", href="/css/admin/admin.css")
	body
		div(id="btns")
			input(id="only-get", class="btn", type="button", value="GET")
			input(id="only-post", class="btn", type="button", value="POST")
			input(id="only-put", class="btn", type="button", value="PUT")
			input(id="only-delete", class="btn", type="button", value="DELETE")
			form(action="/", method="GET")
				input(class="btn", type="submit", value="Home")

		div(id='Novas', class="collection")
			h2 Novas
			div(id="Novas-get" class="get")
				ul(id="lista-novas", class="lista")

				input(class="btn", type="button", value="GET Novas")
			div(id="Novas-post" class="post")
				form(method="POST", action="/noticias", enctype="multipart/form-data")
					input(type="file", name="image")
					input(placeholder="alt", name="alt")
					input(placeholder="title", name="title")
					input(placeholder="titulo", name="titulo")
					input(placeholder="cuerpo", name="cuerpo")
					input(type="submit", value="Publicar nova")
			div(id="Novas-put" class="put")
				form(method="POST", action="/noticias?_method=PUT", enctype="multipart/form-data")
					input(name="id", placeholder="id")
					input(type="file", name="image")
					input(name="alt", placeholder="alt")
					input(name="title", placeholder="title")
					input(name="titulo", placeholder="titulo")
					input(name="cuerpo", placeholder="cuerpo")
					input(type="submit", value="Actualizar nova")
			div(id="Novas-delete" class="delete")
				form(method="POST", action="/noticias?_method=DELETE", enctype="application/x-www-form-urlencoded")
					input(placeholder="id", name="id")
					input(type="submit", value="Borrar nova")

		div(id='Partidos', class="collection")
			h2 Partidos
			div(id="Partidos-get" class="get")
				ul(id="lista-partidos", class="lista")

				input(class="btn", type="button", value="GET Partidos")
			div(id="Partidos-post" class="post")
				form(method="POST", action="/partidos", enctype="application/x-www-form-urlencoded")
					input(name="info", placeholder="Resultado (equipo xx-xx equipo)", required)
					input(name="equipo", placeholder="Equipo", required)
					input(type="submit", value="Publicar resultado")
			div(id="Partidos-put" class="put")
				form(method="POST", action="/partidos?_method=PUT", enctype="application/x-www-form-urlencoded")
					input(name="id", placeholder="id")
					input(name="info", placeholder="Resultado (equipo xx-xx equipo)")
					input(name="equipo", placeholder="equipo")
					input(type="submit", value="Actualizar resultado")
			div(id="Partidos-delete" class="delete")
				form(method="POST", action="/partidos?_method=DELETE", enctype="application/x-www-form-urlencoded")
					input(placeholder="id", name="id")
					input(type="submit", value="Borrar resultado")
	
		script(id="template" type="text/mustache-template").
			<li class="nova elemento">
				<h4>{{titulo}}</h4> id: {{id}}
			</li>

		script(id="tmpl-match" type="text/mustache-template").
			<li class="match elemento">
				<h4>{{&info}} ({{equipo}})</h4> id: {{id}}
			</li>
		
		script(src="//cdnjs.cloudflare.com/ajax/libs/retina.js/1.3.0/retina.min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js")
		script(src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js")
		script(src="js/admin.js")