doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		title Admin Login Xestas

	body
		form(action="/usuarios/login", method="POST", enctype="application/x-www-form-urlencoded")
			input(id="user", name="username", placeholder="nombre")
			input(id='pass', name="password", placeholder="contraseña", type='password')
			input(id="btn", type="submit", value="Log in")
		form(action="/", method="GET")
			input(class="btn", type="submit", value="Home")
