//About

.about
	color gris_oscuro
	figure
		display none
	.titulo
		text-align center
		padding 1.5em 0 1em 0
		.icon-ball
		h2
			display inline-block
			margin 0
		.icon-ball
			font-size 24px
		h2
			color color_secundario
	&-text
		padding 0 1em
		text-align justify
		margin 0
	.adorno3
		text-align center
		margin 0
		padding 1rem 0
		font-size 24px
		
@media screen and (min-width:450px)
	.about
		figure
			display inline
			.about-image
				width 100%
				height auto

@media screen and (min-width:1000px)
	.about
		width 90%
		left 0
		right 0
		margin 0 auto
		display inline-flex
		border 3px solid gris_oscuro
		border-radius 3px
		margin-top 6.5em
		margin-bottom 2em
		
		figure
			flex 3 1 50%
		.texto
			flex 1 1 20%
		.aux
			position absolute
			left 0
			right 0
			bottom -4em
			background color_de_fondo
			width 0
			height 0
			border-top 1em solid gris_oscuro
			border-bottom 1em solid transparent
			border-left 1em solid transparent
			border-right 1em solid transparent
			margin 0 auto
		.adorno3
			display none