twitter1 = #55ACEE
twitter2 = #2A6EA1
twitter3 = #194261
facebook1 = #4862A3
facebook2 = #3D5389
facebook3 = #2C3C63

.add-on
	font-size 1em
	margin 0
	display inline-block
	vertical-align top
	overflow hidden


	&.addleft
		
		span
			float left
			border-top-left-radius 5px
			border-bottom-left-radius 5px
			border-right none

		a
			float right
			border-top-right-radius 5px
			border-bottom-right-radius 5px

	&.addright
		
		span
			float right
			border-top-right-radius 5px
			border-bottom-right-radius 5px
			border-left none

		a
			float left
			border-top-left-radius 5px
			border-bottom-left-radius 5px

	span
		background white
		color #333
		padding .3em
	
	a
		color white
		line-height 1em
		padding .3em
		

		&.twitter
			background twitter1
			&:hover
				background twitter2
			&:active
				background twitter3

		&.facebook
			background facebook1
			&:hover
				background facebook2
			&:active
				background facebook3
