//ALL

a
	text-decoration none
	color black
	&:active
		color black

body
	font-family 'Quicksand', sans-serif
	font-size 16px
	overflow-x hidden
	min-height 100%
	background color_de_fondo

figure
	margin 0

.img
	vertical-align top

li
	list-style none

section
	background color_de_fondo
	margin-top 3em
	position absolute
	left 0
	transition 0.3s
	width 100%
	&.moved
		left 272px
	&.movedFast
		transition 0s
		left 272px
