color_de_fondo = #F5F5F5
color_principal = #212121
color_principal_claro = #555555
color_secundario = #FF5722
color_secundario_claro = #9575CD
color_navegacion = color_secundario
color_navegacion_claro = color_de_fondo
azul = #00338C
azul_claro = #5090B2
gris_oscuro = #212121
gris = #696969
gris_claro = #8F8F8F

/*
    naranja #FF5722
    naranja claro #FF8A65
    morado #673AB7
    morado claro #9575CD
*/