//Contacta

.contacta
	color gris_oscuro
	overflow hidden
	height 100%
	margin 0
	.content
		position relative
		text-align center
		height 100%
		h2
			padding-top 4.5rem
			font-size 2.8rem
			margin 0
		h3
			font-size 30px
		.icon-ball
			font-size 8rem
		.button
			background white
			border none
			border-bottom 5px solid gris
			border-radius 5px
			bottom 2rem
			box-sizing border-box
			height 3rem
			line-height 2.8rem
			padding 0
			position absolute
			left 0
			right 0
			margin 0 auto
			width 8rem
			z-index 2
			&:hover
				background gris_claro
			&:active
				background gris
		.adorno
			border-top 100px solid transparent
			border-left 100px solid transparent
			border-right 100px solid transparent
			border-bottom 100px solid gris_oscuro
			position absolute
			bottom 0
			margin 0 auto
			left 0
			right 0
			z-index 1
	.redes
		overflow hidden
		background gris_claro
		border 3px solid gris_oscuro
		border-radius 5px
		box-sizing border-box
		transition 0.5s
		width 100%
		position absolute
		padding 2em
		bottom -10rem
		text-align center
		z-index 6
		p
			margin-top 0
		&.up
			bottom 10rem

@media screen and (min-width:450px)
	.contacta
		.content
			h2
				font-size 3.8rem
			.icon-ball
				font-size 11rem
		

@media screen and (min-width: 600px)
	.contacta
		display table
		.content
			h2
				font-size 5rem
			h3
				font-size 3rem
			.icon-ball
				font-size 11rem
			.button
				display none
			.adorno
				display none
		.redes
			background transparent
			border none
			display table-row
			position relative
			margin 0 auto
			bottom auto
			.add-on
				margin 0 1rem 2rem 1rem
			&.up
				bottom 0
			p
				font-size 2rem
			
	.add-on
		margin-bottom 3rem
		font-size 20px
		a
			height 1.2em
		span
			border 2px solid gris_oscuro