@font-face
  font-family: 'icomoon'
  src: url('../fonts/icomoon.eot?-i8kaux')
  src: url('../fonts/icomoon.eot?#iefix-i8kaux') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-i8kaux') format('woff'),
		url('../fonts/icomoon.ttf?-i8kaux') format('truetype'),
		url('../fonts/icomoon.svg?-i8kaux#icomoon') format('svg')
  font-weight: normal
  font-style: normal

[class^="icon-"],
[class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-ball:before
  content: "\e600"

.icon-search:before
  content: "\e986"

.icon-arrow-right:before
  content: "\ea3c"

.icon-arrow-left:before
  content: "\ea40"

.icon-facebook:before
  content: "\ea8d"

.icon-twitter:before
  content: "\ea91"

