//FOOTER

.footer
	background gris_oscuro
	border-top 1px solid gris_oscuro
	text-align center
	font-size 16px
	padding 2em
	transition 0.3s
	bottom 0
	right 0
	left 0
	h4
		font-size 1rem
		color gris_claro
		margin 0
	&.moved
		left 272px

@media screen and (min-width:450px)
	.footer
		h4
			font-size 1.2rem

@media screen and (min-width:800px)
	.footer
		background color_secundario
		h4
			color color_de_fondo
			font-size 1.5rem