//HEADER

.header
	position absolute
	background color_de_fondo
	top 0
	left 0
	right 0
	height 3.0em
	width 100%
	margin 0
	padding 0
	display block
	transition 0.3s
	z-index 4
	a.boton-nav
		color gris_oscuro
		cursor pointer
		font-size 1.5em
		height 3rem
		left 0
		line-height 3rem
		position absolute
		text-align center
		top 0
		transform rotate(0deg)
		transition 0.3s
		width 3rem
		&.rotated
			transform rotate(180deg);
		&:active
			color gris_oscuro
	figure                                                                                                                                       
		padding 0
		width 48px
		height 3em
		position relative
		margin 0 auto
		.logo
			vertical-align top
			line-height 3em
			
	&.moved
		left 272px
		
@media screen and (min-width:600px)
	.header
		height 3.5em
		a.boton-nav
			display none;
		figure
			margin 0 2em
			height 3.5em
			.logo
				margin-top 5px