//Home

.home
	color gris_oscuro
	.landing
		background color_principal
		box-shadow 0 3px 3px #333
		color white
		font-family 'Lobster', sans-serif
		padding-top 1em
		padding-bottom 1em
		text-align center
		h2
			margin 0
			font-size 3.5em
			transform rotate(-5deg)
		figure
			img
				text-align center
				vertical-align top
				min-width 164px
				min-height 96px
				max-width 164px
				width 100%
				height auto
		h1
			margin 0
			
	.last-results
		margin-bottom 4.5em
		h2
			margin 1rem 0 .7rem 1.5rem
		div
			h3
				margin 0 2rem
			ul
				margin-bottom 0
				margin-top 0.7em
				padding 0
				margin-left 3em
				li
					margin-bottom .7em
					b
					strong
						color color_secundario

						
@media screen and (min-width:450px)
	.home
		height 100%
		.landing
			h2
				font-size 4.5rem
			figure
				img
					max-width 300px
			h1
				font-size 3rem
		.last-results
			margin-bottom 3em
			text-align center
			h2
				margin-left 0
				text-align center
				font-size 2rem
			div.cont
				display inline-flex
				flex-direction row
				margin 0 auto
				div
					flex 1 1 auto
					border 3px solid gris_oscuro
					border-radius 10px
					padding .5em
					vertical-align top
					margin 1em .5em
					h3
						border-bottom 2px solid gris_oscuro
						color color_secundario
						margin 0
						margin-bottom .5em
						padding-bottom .3em
						font-size 1.5rem
					ul
						margin 0
						li
							padding .2em
							font-size 1rem
							margin 0
				
@media screen and (min-width:600px)
	.home
		.last-results
			h2
				font-size 2.5rem
			div.cont
				div
					padding 1em
					margin 1em 1em
					h3
						font-size 2rem
					ul
						li
							font-size 1.2em

@media screen and (min-width:800px)
	.home
		.landing
			padding-bottom 2em
			h2
				font-size 5.5rem
				margin-bottom 2rem
			figure
				margin-bottom 1em
				img
					max-width 400px
			h1
				font-size 4rem
		.last-results
			h2
				font-size 3.5rem
			div.cont
				div
					padding 1.5em
					margin 1.5em 1.5em
					h3
						font-size 2.5rem
					ul
						li
							font-size 1.7rem