//NAV

.nav
	background color_navegacion
	position fixed
	top 0
	left -272px
	width 272px
	height 100%
	transition 0.3s
	z-index 5
	&-list
		margin 0
		padding 0
		&-element
			border-bottom 1px solid gris_oscuro
			padding .4em
			&-link
				color gris_oscuro
				cursor pointer
				display block
				height 2.2em
				line-height 2.2em
				padding-left .8em
				&:hover
					background color_navegacion_claro
					border-radius 5px
	&.moved
		left 0
		
@media screen and (min-width:600px)
	.nav
		left 0
		background transparent
		height 3.5em
		width 100%
		position absolute
		&-list
			float right
			height 3.5em
			margin 0
			margin-right 1em
			padding 0
			&-element
				display inline-block
				padding 0
				border-bottom none
				line-height 3.5em
				height 3.5em
				vertical-align top
				box-sizing border-box
				margin-left 1.5em
				&-link
					color gris_oscuro
					padding 0 1em
					margin 0
					height 3.5em
					line-height 3.5em
					font-size 16px
					&:hover
						background-color transparent
						border-radius none
						color color_secundario
				&.media
					display none
					
@media screen and (min-width:1000px)
	.nav-list
		margin-right 2.5em