//Noticias

.noticias
	.title
		font-family 'Lobster', sans-serif
		text-align center
		color gris_oscuro
		display none
		font-size 5rem
		margin 3rem 0
		transform rotate(-5deg)
	.new
		.cuerpo
			position relative
			cursor pointer
			figure
				position relative
				padding 0
				img
					margin 0
					vertical-align top
					min-width 320px
					min-height 214px
					width 100%
					height auto
				.cont
					background rgba(0, 0, 0, .6)
					color rgba(255, 255, 255, .8)
					padding 1em
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					.titulo
						font-size 30px
		.adornos
			background color_de_fondo
			position relative
			height 2em
			.adorno
				background color_principal
				display inline-block
				position absolute
			.adorno1
				border-radius 5px
				height 2px
				left 1%
				margin 0 .5em
				top .9em
				width 40%
			.adorno2
				top .5em
				left 0
				right 0
				margin 0 auto
				width 1em
				height 1em
				border-radius 50%
			.adorno3
				border-radius 5px
				height 2px
				margin 0 .5em
				right 1%
				top .9em
				width 40%
	
	.adorno-cierre
		background color_de_fondo
		div
			width 0
			height 0
			border-top 1em solid color_principal
			border-bottom 1em solid transparent
			border-left 1em solid transparent
			border-right 1em solid transparent
			margin 0 auto

@media screen and (min-width:600px)
	.noticias
		box-shadow inset 0 2px 2px gris
		left 0
		right 0
		margin 3.5em 0
		margin-bottom 0
		.title
			display block
		.news-container
			max-width 1000px
			margin 1em auto
			text-align center
			.new
				background-color white
				box-shadow 0 0 5px rgba(gris_oscuro, .6)
				display inline-block
				margin 0 .5em .3em .5em
				max-width 250px
				.cuerpo
					figure
						img
							min-height 0
							min-width 0
						.cont
							position static
							background transparent
							.titulo
								font-size 18px
								color gris_oscuro
								margin 0 auto
				.adornos
					display none
				&:hover
					box-shadow: 0 0 10px rgba(gris_oscuro, .6)
		.adorno-cierre
			div
				border-top-color gris_oscuro
		