//Nova Concreta

.novaConcreta
	color gris_oscuro
	margin 0 auto
	margin-top 3em
	left 0
	right 0
	max-width 600px
	figure
		position relative
		padding 0
		box-shadow 0 2px 2px gris_oscuro
		img
			vertical-align top
			min-width 320px
			min-height 214px
			margin 0
			width 100%
			height auto
	.corpo
		padding-bottom 3em
		h2
			margin 0
			padding 1em
		div
			margin 0 1em 1em 1em
			text-align justify
			word-wrap break-word
			a
				color color_secundario
				&:hover
					color color_secundario_claro
			strong
			b
				color color_secundario
			i
				color gris_claro
		
@media screen and (min-width:600px)
	.novaConcreta
		margin-top 3.5em
		figure
			box-shadow none
		.corpo
			border 3px solid gris_oscuro
			border-bottom none

@media screen and (min-width:1000px)
	.novaConcreta
		max-width 1000px
		.corpo
			h2
				font-size 2.5rem
			div
				font-size 1.2rem
				padding 2rem
				padding-top 0
				margin 0
				margin-bottom 2rem