@import 'nib'
vendor-prefixes ?= webkit o ms moz official

color_principal-claro = #42A5F5
color_principal = #1976D2
color_principal-oscuro = #0D47A1
verde-claro = #9CCC65
verde = #388E3C
verde-oscuro = #1B5E20
naranja-claro = #FFB74D
naranja = #FB8C00
naranja-oscuro = #E65100
rojo-claro = #f44336
rojo = #d32f2f
rojo-oscuro = #b71c1c

body
	font-size 16px
	color #333
	font-family 'Quicksand', sans-serif
	
div
	border 2px solid #333
	border-radius 5px
	margin 1em auto
	
.collection
	margin none
	padding 1em

#only-get
	background color_principal-claro
	border none
	border-radius 5px
	&:hover
		background color_principal
	&:active
		background color_principal-oscuro

#only-post
	background verde-claro
	border none
	border-radius 5px
	&:hover
		background verde
	&:active
		background verde-oscuro
		
#only-put
	background naranja-claro
	border none
	border-radius 5px
	&:hover
		background naranja
	&:active
		background naranja-oscuro
		
#only-delete
	background rojo-claro
	border none
	border-radius 5px
	&:hover
		background rojo
	&:active
		background rojo-oscuro
		
#btns
	padding .5em
	poisition relative
	display block
	.btn
		display inline-block
		margin .5em
		
.hide
	display none

.get
	padding 0 .5em .5em .5em
	.lista
		padding .5em 0
		margin 0
		
		.elemento
			color #888
			list-style none
			margin .3em 0
			border-bottom 1px solid #333
			h4
				color #333
				margin 0

	input
		margin .5em 0